@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
body {
  font-family: "Lora", serif;
  background-color: #080808;
  letter-spacing: 0.5px;
  min-height: 100vh;
}
/* hr{
    border: 1px dotted #3F8E00;
} */
.social-icons a:hover {
  color: #3f8e00;
}
.btn {
  background: none;
  color: white;
  letter-spacing: 0.5px;
  border: 2px solid #3f8e00;
  /* padding: 10px 20px; */
  /* border-radius: 5px; */
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.btn-hover {
  position: relative;
  overflow: hidden;
  color: white;
  z-index: 1;
  transition: color 1s;
}

.btn-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3f8e00; /* Color for the fill effect */
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s;
}

.btn-hover:hover {
  color: white;
}

.btn-hover:hover::before {
  transform: scaleX(1.09);
}

.img-fluid {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.img-fluid:hover {
  transform: scale(1.08);
}

.nav-link:hover {
  border-bottom: 2px solid #3f8e00;
}

.Header-section {
  background-color: #080808;
  color: white;
  padding: 5% 20px;
  background-size: cover;
  letter-spacing: 0.5px;
}

.spanText {
  color: #3f8e00;
  letter-spacing: 0.5px;
}

.aboutme {
  background-color: #080808;
  line-height: 2rem;
  letter-spacing: 0.5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.aboutme h1,
h3,
p {
  padding-bottom: 1rem;
  letter-spacing: 0.5px;
  /* text-align: justify; */
}


.Header_section h1,
h3,
h5,
button {
  padding-bottom: 0.8rem;
  letter-spacing: 0.5px;
}

.navbar {
  background-color: #080808;
}

header,
section,
footer {
  padding: 20px;
  letter-spacing: 0.5px;
}

header .img-fluid {
  max-width: 100%;
  height: auto;
}

.social-icons {
  margin-top: 8%;
  font-size: 2rem;
}

.Services_icons {
  font-size: 4rem;
}
/* 
.card-body {
    background-color: #080808;
    color: white;
}

.card-hover {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-hover:hover {
    transform: scale(1.05);
}

.card-hover {
    border-width: 5px;
    border-style: solid;
    border-color: #3F8E00;
} */
.card-body {
  background-color: #080808;
  color: white;
}

.card-hover {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-hover:hover {
  transform: scale(1.05);
}

.card-hover {
  border-width: 5px;
  border-style: solid;
  border-color: #3f8e00;
}

.card_padding {
  padding: 20px;
}

.skill-Section img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  padding: 10px;
  background-color: #fff;
}

.skill-Section div {
  text-align: center;
  color: #fff;
}

.skill-Section {
  padding: 5%;
  letter-spacing: 0.5px;
}

.section-content img {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.section-content img:hover {
  transform: scale(1.2);
  /* background-color: #3F8E00; */
}

/* .skill-Section div p {
    text-align: justify;
} */

.skill-Section div h2 {
  padding-top: 10px;
  padding-bottom: 8px;
}

.skill-Section .section-content {
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 0.5px;
}

.main_headings {
  color: #3f8e00;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.project-category {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 20px;
  /* border: 1px solid rgba(237, 237,237, 0.6); */
}
.project-category li {
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #fff;
  font-weight: 400;
}
.all-projects {
  border-bottom: 2px solid #3f8e00;
}
/* .card-body-content{
    background-image: url(images/grocery_delivery.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    color: #fff;
    height: fit-content;
    width: fit-content;
} */
.img-container {
  border: 2px solid #3f8e00;
  background-image: url(images/grocery_delivery.jpg);
  background-position: center;
  background-size: cover;
  height: 320px;
  width: 320px;

  color: #fff;

  align-content: center;
}
.img-container-content {
  display: none;
}
.img-container:hover .img-container-content {
  display: block;
}
/* .img-container:hover{
    opacity: 0.2;
} */
.projects-container {
  position: relative;
  max-width: 1350px;
  width: 100%;
  /* padding: 20px; */
  margin: 50px auto;
  align-items: center;
  text-align: center;
  padding-right: 20px;
  display: flex;
  justify-content: space-evenly;
}
/* .projects-container li{ */
/* padding: 10px 20px;
    font-size: 18px;
    background: transparent;
    /* background: #080808;
    border-radius: 6px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.05); */
/* border-bottom: 2px solid #3F8E00;
    color: #fff; */

/* } */
.Projects_Section {
  padding: 5rem;
}
.project_div {
  display: flex;
  /* justify-content: space-evenly; */
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.filter {
  align-items: center;
  display: flex;
  /* justify-content: space-evenly; */
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;

  gap: 8rem;
  font-size: 18px;
}
.filter .active {
  border-bottom: 2px solid #3f8e00;
}
.filterable_cards {
  margin-top: 25px;
  display: flex;
}
.cardd {
  flex-basis: 300px;
  background-color: #3f8e00;
  padding: 3px;
  border-radius: 8px;
  flex-grow: 1;
}
.cardd.hide {
  display: none;
}
.cardd img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.card_body {
  padding: 15px 20px 20px;
}
.card_title {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.card_text {
  font-size: 18px;

  color: #fff;
}
@media (max-width: 768px) {
  .Projects_Section {
    padding: 2rem;
  }

  .filter {
    flex-direction: row;
    gap: 1rem;
  }

  .cardd {
    flex-basis: 45%;
  }
}

/* .........fade effect........ */
/* @keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }to{
        opacity: 1;
        scale: 1;
    }
} */
/* .animated_block{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
} */
/* .........fade effect with scaling........ */
/* .........fade effect with translation from left........ */

/* @keyframes appearFromLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes appearsFromRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes appearFromTop {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  } */
  @keyframes appearFromBottom {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .imgg {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .imgg.appear {
    animation: appearFromBottom 3s ease-in-out both;
  }
  
  .aboutText {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .aboutText.appear {
    animation: appearFromBottom 3s ease-in-out both;
  }
  
  .header_block {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .header_block.appear {
    animation: appearFromBottom 1.5s ease-in-out both;
  }

  .headerAbout_block{
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.3s, transform 0.3s;
  }
  .headerAbout_block{
    animation: appearFromBottom 1.5s ease-in-out both;
  }
  @media (max-width:600px) {
    h5{
        font-size: small;
        flex-wrap: wrap;
    }
    h1{
        font-size: x-large;
        flex-wrap: wrap;
        
    }
    h3{
        font-size: larger;
        flex-wrap: wrap;
    }
    h2{
        flex-wrap: wrap;
        font-size: xx-large;
        
    }
    p{
        flex-wrap: wrap;
        text-align: center;
    }
    .main_headings{
        flex-wrap: wrap;
        text-align: center;
        font-size: xx-large;
    }
    .projects-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
    }
  }